
@font-face {
  font-family: 'rominabookfreeversion';
  src: url('rominabookfreeversion.eot?#iefix') format('embedded-opentype'),  url('rominabookfreeversion.otf')  format('opentype'),
	     url('rominabookfreeversion.woff') format('woff'), url('rominabookfreeversion.ttf')  format('truetype'), url('rominabookfreeversion.svg#rominabookfreeversion') format('svg');
  font-weight: normal;
  font-style: normal;
}
